<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!--Important! change to server paths-->
  <!-- it is for locale testing -->  
  <appSettings>
    <add key="Path1CExe" value="D:\Programs\8.2.19.83\bin\1cv8.exe" />
    <add key="PathInfobase" value="D:\Databases\Шаблоны\Infobase" />
    <add key="PathTemplate" value="D:\Databases\Шаблоны\Файловые базы" />
    <add key="DtPath" value="D:\Programs\8.2.19.83\bin\1cv8.exe" />
    <add key="DtLogFolderPath" value=""/>
    <add key="UpdateNodePath" value="D:\Databases\Шаблоны\Updates"/>
    <add key="TemplatesXmlPath" value="C:\Users\ekaterina.lugovaya\Documents\Visual Studio 2012\Projects\TemplateUpdater\TemplateUpdater\Templates.xml"/>
    <add key="db_template_prefix_path" value="some value" />
  </appSettings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings>
  <add name="db_billing" connectionString="Connection Timeout=3000;data source=10.20.1.35;initial catalog=core;persist security info=True;user id=billing;password=Oen5839wsr;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
</connectionStrings></configuration>