<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file_trace" xsi:type="File" fileName="\\cloud-prod-fs-1\exchange\1c\service\log\Terminal\TemplateUpdater\Trace.${logger}.log.txt" layout="[${level:uppercase=true}] ${date}  : ${windows-identity}  - ${message}" />
    <target name="file_warning" xsi:type="File" fileName="\\cloud-prod-fs-1\exchange\1c\service\log\Terminal\TemplateUpdater\Warning.${logger}.log.txt" layout="[${level:uppercase=true}] ${date}  : ${windows-identity}  - ${message}" />
    <target name="file_error" xsi:type="File" fileName="\\cloud-prod-fs-1\exchange\1c\service\log\Terminal\TemplateUpdater\Error.${logger}.log.txt" layout="[${level:uppercase=true}] ${date}  : ${windows-identity}  - ${message}" />
  </targets>

  <rules>
    <logger name="*"        minLevel="Trace" writeTo="file_trace" />
    <logger name="*"        minLevel="Warning" writeTo="file_warning" />
    <logger name="*"        minLevel="Error" writeTo="file_error" />
  </rules>
</nlog>